body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

.board {
  background-color: rgba(64, 64, 64, 0.5);
  width: fit-content;  
}

.board-row {
  width: 290px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  place-items: center;
}

.square {
  width: 90px;
  height: 90px;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: lightskyblue;
  color:rgba(64, 64, 64, 0.5)
}

.square:hover {
  background-color: skyblue;
  transform: scale(1.05);
}

.right {
  margin-right: 10px;
}

.left {
  margin-left: 10px;
}

.center {
  margin-top: 10px;
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;  
}

.status {
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 300;
}
.game {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-info {
  border-radius: 8px;
  margin-top: 10px;
  height: 145px;
  width: 375px;
}
.preview-button {
  background-color: lightskyblue;
  border-width: 1px;
  border-radius: 10%;
  border-color: black;
  width: 70px;
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}
